.navigation-bar{
    display: flex;
    height:auto;

    button{
        padding:10px
    }
}

header{
    display: flex;
    flex-direction: column;
    width:100%;
    border:1px solid black;
    height:20%;
}