:root{
    --light-body-background-color:lightblue;
    --dark-body-background-color:darkblue;
    --light-header-color:lightgreen;
    --dark-header-color:darkgreen;
    --light-heading-text-color:black;
    --dark-heading-text-color:yellow;
    --light-footer-bg-color:orange;
    --dark-footer-bg-color:red;
}

[color-theme="light"]{

 background-color: var(--light-body-background-color);

 nav.navigation-bar{
    background-color: var(--light-header-color);
 }

 h1.app-heading{
    color:var(--light-heading-text-color);
 }

 .footer{
   background-color: var(--light-footer-bg-color);
 }

}

[color-theme="dark"]{

    background-color: var(--dark-body-background-color);
   
    nav.navigation-bar{
        background-color: var(--dark-header-color);
     }

     h1.app-heading{
        color:var(--dark-heading-text-color);
     }

     .footer{
        background-color: var(--dark-footer-bg-color);

     }

}
   
   

